# -----------------------------

# OS files

# -----------------------------

.DS_Store
Thumbs.db

# -----------------------------

# Environment variables

# -----------------------------

.env
.env.local
.env.*

# -----------------------------

# Python

# -----------------------------

**pycache**/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

venv/
.env/
.python-version

# NLP models cache

*.pt
*.bin
*.h5
*.model

# -----------------------------

# Node / React Native

# -----------------------------

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.expo/
.expo-shared/
dist/
build/

# -----------------------------

# Go

# -----------------------------

bin/
*.exe
*.test
*.out

# -----------------------------

# Logs

# -----------------------------

logs/
*.log

# -----------------------------

# IDE files

# -----------------------------

.vscode/
.idea/

# -----------------------------

# Mac + misc

# -----------------------------

*.swp
*.swo
